:root {
  /* Layout & Backgrounds */
  --background: #f2f2f2;
  --container: #ffffff;
  --border: #ced4da;

  /* Typography */
  --text-body: #212529;

  /* Buttons */
  --button-color: #28a745;
  --button-hover: #23913d;

  /* Links */
  --link: #00c2ff;

  /* UI Components */
  --tooltip: #f8f9fa;

  /* Fonts */
  --font-family: 'IBM Plex Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-family);
  color: var(--text-body);
  background-color: var(--background);
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: inherit;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
